
<h1>Welcome to A Plus Plus</h1>

<div style="text-align: center">
  <h1>Welcome to A Plus Plus</h1>
</div>
<blockquote>
  <p>Absolute game-changer!</p>
  <small>Alaina Gully <cite title="Source Title">Quincy College, Illinois</cite></small>
</blockquote>
<blockquote class="blockquote-reverse">
  <p>Hands down the best app grade managing app out there. I can't wait to use... wait, I f@#kin hate school. Just kiddin, no tanks.</p>
  <small>Makoto <cite title="Source Title">Charismatic Individual</cite></small>
</blockquote>
<blockquote>
  <p>This shit is nice, I mean calendars and colour?! Definitely a 7/10! One day someone will be using this, bet it.</p>
  <small>Ryan Woo <cite title="Source Title">The Bay Area</cite></small>
</blockquote>
