<div style="text-align: center">
  <h1>Welcome to A Plus Plus</h1>
</div>
<blockquote>
  <p>Absolute game-changer!</p>
  <small>Alaina Gully <cite title="Source Title">Quincy College, Illinois</cite></small>
</blockquote>
<blockquote class="blockquote-reverse">
  <p>Hands down the best app grade managing app out there. I can't wait to use... wait, I f@#kin hate school. Just kiddin, no tanks.</p>
  <small>Makoto <cite title="Source Title">Charismatic Individual</cite></small>
</blockquote>
